<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.trading.mapper.CommonTransationPartiesMapper">
  <resultMap id="BaseResultMap" type="demo.trading.pojo.CommonTransationParties">
    <result column="transation_partner_id" jdbcType="INTEGER" property="transationPartnerId" />
    <result column="transation_partner_name" jdbcType="CHAR" property="transationPartnerName" />
    <result column="consumption_type" jdbcType="INTEGER" property="consumptionType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <insert id="insert" parameterType="demo.trading.pojo.CommonTransationParties">
    insert into common_transation_parties (transation_partner_id, transation_partner_name, 
      consumption_type, create_time, remark
      )
    values (#{transationPartnerId,jdbcType=INTEGER}, #{transationPartnerName,jdbcType=CHAR}, 
      #{consumptionType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="demo.trading.pojo.CommonTransationParties">
    insert into common_transation_parties
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transationPartnerId != null">
        transation_partner_id,
      </if>
      <if test="transationPartnerName != null">
        transation_partner_name,
      </if>
      <if test="consumptionType != null">
        consumption_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transationPartnerId != null">
        #{transationPartnerId,jdbcType=INTEGER},
      </if>
      <if test="transationPartnerName != null">
        #{transationPartnerName,jdbcType=CHAR},
      </if>
      <if test="consumptionType != null">
        #{consumptionType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>