<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.trading.mapper.HolderCommonTransationMapper">
  <resultMap id="BaseResultMap" type="demo.trading.pojo.HolderCommonTransation">
    <result column="transation_partner_id" jdbcType="INTEGER" property="transationPartnerId" />
    <result column="account_holder_id" jdbcType="INTEGER" property="accountHolderId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_use_time" jdbcType="TIMESTAMP" property="lastUseTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <insert id="insert" parameterType="demo.trading.pojo.HolderCommonTransation">
    insert into holder_common_transation (transation_partner_id, account_holder_id, 
      create_time, last_use_time, remark
      )
    values (#{transationPartnerId,jdbcType=INTEGER}, #{accountHolderId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUseTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="demo.trading.pojo.HolderCommonTransation">
    insert into holder_common_transation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transationPartnerId != null">
        transation_partner_id,
      </if>
      <if test="accountHolderId != null">
        account_holder_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUseTime != null">
        last_use_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transationPartnerId != null">
        #{transationPartnerId,jdbcType=INTEGER},
      </if>
      <if test="accountHolderId != null">
        #{accountHolderId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUseTime != null">
        #{lastUseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>