<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.joy.mercenary.mapper.JoyUserMercenaryMapper">
  <resultMap id="BaseResultMap" type="demo.joy.mercenary.pojo.po.JoyUserMercenary">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="mercenary_id" jdbcType="BIGINT" property="mercenaryId" />
    <result column="mercenary_name" jdbcType="CHAR" property="mercenaryName" />
    <result column="attribute_path" jdbcType="CHAR" property="attributePath" />
    <result column="skill_path" jdbcType="CHAR" property="skillPath" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, mercenary_id, mercenary_name, attribute_path, skill_path, gender, edit_time, 
    create_time, is_delete
  </sql>
  <select id="selectByExample" parameterType="demo.joy.mercenary.pojo.po.JoyUserMercenaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from joy_user_mercenary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from joy_user_mercenary
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from joy_user_mercenary
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="demo.joy.mercenary.pojo.po.JoyUserMercenaryExample">
    delete from joy_user_mercenary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.joy.mercenary.pojo.po.JoyUserMercenary">
    insert into joy_user_mercenary (id, user_id, mercenary_id, 
      mercenary_name, attribute_path, skill_path, 
      gender, edit_time, create_time, 
      is_delete)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{mercenaryId,jdbcType=BIGINT}, 
      #{mercenaryName,jdbcType=CHAR}, #{attributePath,jdbcType=CHAR}, #{skillPath,jdbcType=CHAR}, 
      #{gender,jdbcType=BIT}, #{editTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="demo.joy.mercenary.pojo.po.JoyUserMercenary">
    insert into joy_user_mercenary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mercenaryId != null">
        mercenary_id,
      </if>
      <if test="mercenaryName != null">
        mercenary_name,
      </if>
      <if test="attributePath != null">
        attribute_path,
      </if>
      <if test="skillPath != null">
        skill_path,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="mercenaryId != null">
        #{mercenaryId,jdbcType=BIGINT},
      </if>
      <if test="mercenaryName != null">
        #{mercenaryName,jdbcType=CHAR},
      </if>
      <if test="attributePath != null">
        #{attributePath,jdbcType=CHAR},
      </if>
      <if test="skillPath != null">
        #{skillPath,jdbcType=CHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=BIT},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.joy.mercenary.pojo.po.JoyUserMercenaryExample" resultType="java.lang.Long">
    select count(*) from joy_user_mercenary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update joy_user_mercenary
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.mercenaryId != null">
        mercenary_id = #{record.mercenaryId,jdbcType=BIGINT},
      </if>
      <if test="record.mercenaryName != null">
        mercenary_name = #{record.mercenaryName,jdbcType=CHAR},
      </if>
      <if test="record.attributePath != null">
        attribute_path = #{record.attributePath,jdbcType=CHAR},
      </if>
      <if test="record.skillPath != null">
        skill_path = #{record.skillPath,jdbcType=CHAR},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=BIT},
      </if>
      <if test="record.editTime != null">
        edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update joy_user_mercenary
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      mercenary_id = #{record.mercenaryId,jdbcType=BIGINT},
      mercenary_name = #{record.mercenaryName,jdbcType=CHAR},
      attribute_path = #{record.attributePath,jdbcType=CHAR},
      skill_path = #{record.skillPath,jdbcType=CHAR},
      gender = #{record.gender,jdbcType=BIT},
      edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.joy.mercenary.pojo.po.JoyUserMercenary">
    update joy_user_mercenary
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="mercenaryId != null">
        mercenary_id = #{mercenaryId,jdbcType=BIGINT},
      </if>
      <if test="mercenaryName != null">
        mercenary_name = #{mercenaryName,jdbcType=CHAR},
      </if>
      <if test="attributePath != null">
        attribute_path = #{attributePath,jdbcType=CHAR},
      </if>
      <if test="skillPath != null">
        skill_path = #{skillPath,jdbcType=CHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=BIT},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.joy.mercenary.pojo.po.JoyUserMercenary">
    update joy_user_mercenary
    set user_id = #{userId,jdbcType=BIGINT},
      mercenary_id = #{mercenaryId,jdbcType=BIGINT},
      mercenary_name = #{mercenaryName,jdbcType=CHAR},
      attribute_path = #{attributePath,jdbcType=CHAR},
      skill_path = #{skillPath,jdbcType=CHAR},
      gender = #{gender,jdbcType=BIT},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="demo.joy.mercenary.pojo.po.JoyUserMercenaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from joy_user_mercenary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>