<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.article.mapper.ArticleHotMapper">

  <resultMap id="BaseResultMap" type="demo.article.pojo.po.ArticleHot">
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="channel_id" jdbcType="BIGINT" property="channelId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
    <result column="hot_level" jdbcType="INTEGER" property="hotLevel" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>

  <insert id="insert" parameterType="demo.article.pojo.po.ArticleHot">
    insert into article_hot (article_id, channel_id, create_time, 
      valid_time, hot_level, is_delete
      )
    values (#{articleId,jdbcType=BIGINT}, #{channelId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{validTime,jdbcType=TIMESTAMP}, #{hotLevel,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}
      )
  </insert>

  <insert id="insertSelective" parameterType="demo.article.pojo.po.ArticleHot">
    insert into article_hot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="validTime != null">
        valid_time,
      </if>
      <if test="hotLevel != null">
        hot_level,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validTime != null">
        #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hotLevel != null">
        #{hotLevel,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <insert id="insertNew">
    insert into 
      article_hot (article_id, channel_id, valid_time
      <if test="hotLevel != null">
        , hot_level 
      </if>
      )
    values (#{articleId}, #{channelId}, #{validTime}
      <if test="hotLevel != null">
        ,#{hotLevel}
      </if>
    )
    on duplicate key update
      valid_time = #{validTime}
      <if test="hotLevel != null">
        , hot_level = #{hotLevel}
      </if>
  </insert>

  <update id="batchUpdateDeleteMark">
    update article_hot set is_delete = true where article_id in 
    <foreach item="articleId" index="index" collection="list"
      open="(" separator="," close=")">
      #{articleId}
    </foreach>
  </update>

  <update id="updateDeleteMark">
    update article_hot set is_delete = true where article_id = #{articleId}
  </update>

  <delete id="deleteArticleHotByDeleteMark">
    delete from article_hot where is_delete = true
  </delete>

  <select id="findInvalidArticleHotId" resultType="Long">
    select
      article_id
    from
      article_hot as ah
    where
      ah.valid_time &lt; now()
      and ah.is_delete = false
  </select>

  <select id="findArticleHotOrderByHotLevel" resultMap="BaseResultMap">
    select
      *
    from
      article_hot as ah
    where
      ah.is_delete = false
      and valid_time &gt; now()
      and channel_id = #{channelId}
    order by ah.hot_level desc
  </select>

</mapper>