<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.article.mapper.ArticleSummaryVCodeMapper">

  <resultMap id="BaseResultMap" type="demo.article.pojo.po.ArticleSummaryVCode">
    <result column="vcode_id" jdbcType="BIGINT" property="vcodeId" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="private_key" jdbcType="CHAR" property="privateKey" />
  </resultMap>

  <insert id="insert" parameterType="demo.article.pojo.po.ArticleSummaryVCode">
    insert into article_summary_vcode (vcode_id, article_id, create_time, 
      private_key)
    values (#{vcodeId,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{privateKey,jdbcType=CHAR})
  </insert>

  <insert id="insertSelective" parameterType="demo.article.pojo.po.ArticleSummaryVCode">
    insert into article_summary_vcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vcodeId != null">
        vcode_id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="privateKey != null">
        private_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vcodeId != null">
        #{vcodeId,jdbcType=BIGINT},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="privateKey != null">
        #{privateKey,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <select id="findByVCodeId" resultMap="BaseResultMap">
    select 
      * 
    from 
      article_summary_vcode
    where
      vcode_id = #{vcodeId}
  </select>
  
</mapper>