<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.toyParts.weixin.mapper.WeixinDetailMapper">
  <resultMap id="BaseResultMap" type="demo.toyParts.weixin.pojo.po.WeixinDetail">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="open_id" jdbcType="CHAR" property="openId" />
    <result column="union_id" jdbcType="CHAR" property="unionId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="edit_count" jdbcType="INTEGER" property="editCount" />
  </resultMap>
  <insert id="insert" parameterType="demo.toyParts.weixin.pojo.po.WeixinDetail">
    insert into weixin_detail (user_id, open_id, union_id, 
      create_time, edit_time, edit_count
      )
    values (#{userId,jdbcType=BIGINT}, #{openId,jdbcType=CHAR}, #{unionId,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP}, #{editCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="demo.toyParts.weixin.pojo.po.WeixinDetail">
    insert into weixin_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="unionId != null">
        union_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="editCount != null">
        edit_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=CHAR},
      </if>
      <if test="unionId != null">
        #{unionId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editCount != null">
        #{editCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>