<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.interaction.wechat.mapper.WechatUserFromQrcodeMapper">
  <resultMap id="BaseResultMap" type="demo.interaction.wechat.pojo.po.WechatUserFromQrcode">
    <id column="wechat_user_id" jdbcType="BIGINT" property="wechatUserId" />
    <result column="qrcode_id" jdbcType="BIGINT" property="qrcodeId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    wechat_user_id, qrcode_id
  </sql>
  <select id="selectByExample" parameterType="demo.interaction.wechat.pojo.po.WechatUserFromQrcodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wechat_user_from_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wechat_user_from_qrcode
    where wechat_user_id = #{wechatUserId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wechat_user_from_qrcode
    where wechat_user_id = #{wechatUserId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="demo.interaction.wechat.pojo.po.WechatUserFromQrcodeExample">
    delete from wechat_user_from_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.interaction.wechat.pojo.po.WechatUserFromQrcode">
    insert into wechat_user_from_qrcode (wechat_user_id, qrcode_id)
    values (#{wechatUserId,jdbcType=BIGINT}, #{qrcodeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="demo.interaction.wechat.pojo.po.WechatUserFromQrcode">
    insert into wechat_user_from_qrcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wechatUserId != null">
        wechat_user_id,
      </if>
      <if test="qrcodeId != null">
        qrcode_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wechatUserId != null">
        #{wechatUserId,jdbcType=BIGINT},
      </if>
      <if test="qrcodeId != null">
        #{qrcodeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.interaction.wechat.pojo.po.WechatUserFromQrcodeExample" resultType="java.lang.Long">
    select count(*) from wechat_user_from_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wechat_user_from_qrcode
    <set>
      <if test="row.wechatUserId != null">
        wechat_user_id = #{row.wechatUserId,jdbcType=BIGINT},
      </if>
      <if test="row.qrcodeId != null">
        qrcode_id = #{row.qrcodeId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wechat_user_from_qrcode
    set wechat_user_id = #{row.wechatUserId,jdbcType=BIGINT},
      qrcode_id = #{row.qrcodeId,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.interaction.wechat.pojo.po.WechatUserFromQrcode">
    update wechat_user_from_qrcode
    <set>
      <if test="qrcodeId != null">
        qrcode_id = #{qrcodeId,jdbcType=BIGINT},
      </if>
    </set>
    where wechat_user_id = #{wechatUserId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.interaction.wechat.pojo.po.WechatUserFromQrcode">
    update wechat_user_from_qrcode
    set qrcode_id = #{qrcodeId,jdbcType=BIGINT}
    where wechat_user_id = #{wechatUserId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="demo.interaction.wechat.pojo.po.WechatUserFromQrcodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wechat_user_from_qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>