<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.interaction.wechat.mapper.WechatQrcodeDetailMapper">
  <resultMap id="BaseResultMap" type="demo.interaction.wechat.pojo.po.WechatQrcodeDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="source_official_account" jdbcType="INTEGER" property="sourceOfficialAccount" />
    <result column="scene_name" jdbcType="CHAR" property="sceneName" />
    <result column="remark" jdbcType="CHAR" property="remark" />
    <result column="url" jdbcType="CHAR" property="url" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, source_official_account, scene_name, remark, url, create_time, is_delete
  </sql>
  <select id="selectByExample" parameterType="demo.interaction.wechat.pojo.po.WechatQrcodeDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wechat_qrcode_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wechat_qrcode_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wechat_qrcode_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="demo.interaction.wechat.pojo.po.WechatQrcodeDetailExample">
    delete from wechat_qrcode_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.interaction.wechat.pojo.po.WechatQrcodeDetail">
    insert into wechat_qrcode_detail (id, source_official_account, scene_name, 
      remark, url, create_time, 
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{sourceOfficialAccount,jdbcType=INTEGER}, #{sceneName,jdbcType=CHAR}, 
      #{remark,jdbcType=CHAR}, #{url,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="demo.interaction.wechat.pojo.po.WechatQrcodeDetail">
    insert into wechat_qrcode_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sourceOfficialAccount != null">
        source_official_account,
      </if>
      <if test="sceneName != null">
        scene_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sourceOfficialAccount != null">
        #{sourceOfficialAccount,jdbcType=INTEGER},
      </if>
      <if test="sceneName != null">
        #{sceneName,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=CHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.interaction.wechat.pojo.po.WechatQrcodeDetailExample" resultType="java.lang.Long">
    select count(*) from wechat_qrcode_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wechat_qrcode_detail
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.sourceOfficialAccount != null">
        source_official_account = #{row.sourceOfficialAccount,jdbcType=INTEGER},
      </if>
      <if test="row.sceneName != null">
        scene_name = #{row.sceneName,jdbcType=CHAR},
      </if>
      <if test="row.remark != null">
        remark = #{row.remark,jdbcType=CHAR},
      </if>
      <if test="row.url != null">
        url = #{row.url,jdbcType=CHAR},
      </if>
      <if test="row.createTime != null">
        create_time = #{row.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.isDelete != null">
        is_delete = #{row.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wechat_qrcode_detail
    set id = #{row.id,jdbcType=INTEGER},
      source_official_account = #{row.sourceOfficialAccount,jdbcType=INTEGER},
      scene_name = #{row.sceneName,jdbcType=CHAR},
      remark = #{row.remark,jdbcType=CHAR},
      url = #{row.url,jdbcType=CHAR},
      create_time = #{row.createTime,jdbcType=TIMESTAMP},
      is_delete = #{row.isDelete,jdbcType=BIT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.interaction.wechat.pojo.po.WechatQrcodeDetail">
    update wechat_qrcode_detail
    <set>
      <if test="sourceOfficialAccount != null">
        source_official_account = #{sourceOfficialAccount,jdbcType=INTEGER},
      </if>
      <if test="sceneName != null">
        scene_name = #{sceneName,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=CHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.interaction.wechat.pojo.po.WechatQrcodeDetail">
    update wechat_qrcode_detail
    set source_official_account = #{sourceOfficialAccount,jdbcType=INTEGER},
      scene_name = #{sceneName,jdbcType=CHAR},
      remark = #{remark,jdbcType=CHAR},
      url = #{url,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="demo.interaction.wechat.pojo.po.WechatQrcodeDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wechat_qrcode_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>