<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.aiChat.mapper.AiChatUserMembershipMapper">
  <resultMap id="BaseResultMap" type="demo.aiChat.pojo.po.AiChatUserMembership">
    <id column="ai_chat_user_id" jdbcType="BIGINT" property="aiChatUserId" />
    <id column="membership_id" jdbcType="BIGINT" property="membershipId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="expired_time" jdbcType="TIMESTAMP" property="expiredTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ai_chat_user_id, membership_id, create_time, expired_time, is_delete
  </sql>
  <select id="selectByExample" parameterType="demo.aiChat.pojo.po.AiChatUserMembershipExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ai_chat_user_membership
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="demo.aiChat.pojo.po.AiChatUserMembershipKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ai_chat_user_membership
    where ai_chat_user_id = #{aiChatUserId,jdbcType=BIGINT}
      and membership_id = #{membershipId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="demo.aiChat.pojo.po.AiChatUserMembershipKey">
    delete from ai_chat_user_membership
    where ai_chat_user_id = #{aiChatUserId,jdbcType=BIGINT}
      and membership_id = #{membershipId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="demo.aiChat.pojo.po.AiChatUserMembershipExample">
    delete from ai_chat_user_membership
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.aiChat.pojo.po.AiChatUserMembership">
    insert into ai_chat_user_membership (ai_chat_user_id, membership_id, create_time, 
      expired_time, is_delete)
    values (#{aiChatUserId,jdbcType=BIGINT}, #{membershipId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{expiredTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="demo.aiChat.pojo.po.AiChatUserMembership">
    insert into ai_chat_user_membership
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aiChatUserId != null">
        ai_chat_user_id,
      </if>
      <if test="membershipId != null">
        membership_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="expiredTime != null">
        expired_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aiChatUserId != null">
        #{aiChatUserId,jdbcType=BIGINT},
      </if>
      <if test="membershipId != null">
        #{membershipId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiredTime != null">
        #{expiredTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.aiChat.pojo.po.AiChatUserMembershipExample" resultType="java.lang.Long">
    select count(*) from ai_chat_user_membership
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ai_chat_user_membership
    <set>
      <if test="row.aiChatUserId != null">
        ai_chat_user_id = #{row.aiChatUserId,jdbcType=BIGINT},
      </if>
      <if test="row.membershipId != null">
        membership_id = #{row.membershipId,jdbcType=BIGINT},
      </if>
      <if test="row.createTime != null">
        create_time = #{row.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.expiredTime != null">
        expired_time = #{row.expiredTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.isDelete != null">
        is_delete = #{row.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ai_chat_user_membership
    set ai_chat_user_id = #{row.aiChatUserId,jdbcType=BIGINT},
      membership_id = #{row.membershipId,jdbcType=BIGINT},
      create_time = #{row.createTime,jdbcType=TIMESTAMP},
      expired_time = #{row.expiredTime,jdbcType=TIMESTAMP},
      is_delete = #{row.isDelete,jdbcType=BIT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.aiChat.pojo.po.AiChatUserMembership">
    update ai_chat_user_membership
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiredTime != null">
        expired_time = #{expiredTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where ai_chat_user_id = #{aiChatUserId,jdbcType=BIGINT}
      and membership_id = #{membershipId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.aiChat.pojo.po.AiChatUserMembership">
    update ai_chat_user_membership
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      expired_time = #{expiredTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT}
    where ai_chat_user_id = #{aiChatUserId,jdbcType=BIGINT}
      and membership_id = #{membershipId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="demo.aiChat.pojo.po.AiChatUserMembershipExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ai_chat_user_membership
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>