<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.tool.calendarNotice.mapper.CalendarPreNoticeMapper">
  <resultMap id="BaseResultMap" type="demo.tool.calendarNotice.pojo.po.CalendarPreNotice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bind_notice_id" jdbcType="BIGINT" property="bindNoticeId" />
    <result column="repeat_time_unit" jdbcType="INTEGER" property="repeatTimeUnit" />
    <result column="repeat_time_range" jdbcType="INTEGER" property="repeatTimeRange" />
    <result column="repeat_count" jdbcType="INTEGER" property="repeatCount" />
    <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
    <result column="notice_time" jdbcType="TIMESTAMP" property="noticeTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bind_notice_id, repeat_time_unit, repeat_time_range, repeat_count, valid_time, 
    notice_time, create_time, is_delete
  </sql>
  <select id="selectByExample" parameterType="demo.tool.calendarNotice.pojo.po.CalendarPreNoticeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from calendar_pre_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from calendar_pre_notice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from calendar_pre_notice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="demo.tool.calendarNotice.pojo.po.CalendarPreNoticeExample">
    delete from calendar_pre_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.tool.calendarNotice.pojo.po.CalendarPreNotice">
    insert into calendar_pre_notice (id, bind_notice_id, repeat_time_unit, 
      repeat_time_range, repeat_count, valid_time, 
      notice_time, create_time, is_delete
      )
    values (#{id,jdbcType=BIGINT}, #{bindNoticeId,jdbcType=BIGINT}, #{repeatTimeUnit,jdbcType=INTEGER}, 
      #{repeatTimeRange,jdbcType=INTEGER}, #{repeatCount,jdbcType=INTEGER}, #{validTime,jdbcType=TIMESTAMP}, 
      #{noticeTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="demo.tool.calendarNotice.pojo.po.CalendarPreNotice">
    insert into calendar_pre_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bindNoticeId != null">
        bind_notice_id,
      </if>
      <if test="repeatTimeUnit != null">
        repeat_time_unit,
      </if>
      <if test="repeatTimeRange != null">
        repeat_time_range,
      </if>
      <if test="repeatCount != null">
        repeat_count,
      </if>
      <if test="validTime != null">
        valid_time,
      </if>
      <if test="noticeTime != null">
        notice_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bindNoticeId != null">
        #{bindNoticeId,jdbcType=BIGINT},
      </if>
      <if test="repeatTimeUnit != null">
        #{repeatTimeUnit,jdbcType=INTEGER},
      </if>
      <if test="repeatTimeRange != null">
        #{repeatTimeRange,jdbcType=INTEGER},
      </if>
      <if test="repeatCount != null">
        #{repeatCount,jdbcType=INTEGER},
      </if>
      <if test="validTime != null">
        #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeTime != null">
        #{noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.tool.calendarNotice.pojo.po.CalendarPreNoticeExample" resultType="java.lang.Long">
    select count(*) from calendar_pre_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update calendar_pre_notice
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.bindNoticeId != null">
        bind_notice_id = #{record.bindNoticeId,jdbcType=BIGINT},
      </if>
      <if test="record.repeatTimeUnit != null">
        repeat_time_unit = #{record.repeatTimeUnit,jdbcType=INTEGER},
      </if>
      <if test="record.repeatTimeRange != null">
        repeat_time_range = #{record.repeatTimeRange,jdbcType=INTEGER},
      </if>
      <if test="record.repeatCount != null">
        repeat_count = #{record.repeatCount,jdbcType=INTEGER},
      </if>
      <if test="record.validTime != null">
        valid_time = #{record.validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.noticeTime != null">
        notice_time = #{record.noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update calendar_pre_notice
    set id = #{record.id,jdbcType=BIGINT},
      bind_notice_id = #{record.bindNoticeId,jdbcType=BIGINT},
      repeat_time_unit = #{record.repeatTimeUnit,jdbcType=INTEGER},
      repeat_time_range = #{record.repeatTimeRange,jdbcType=INTEGER},
      repeat_count = #{record.repeatCount,jdbcType=INTEGER},
      valid_time = #{record.validTime,jdbcType=TIMESTAMP},
      notice_time = #{record.noticeTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.tool.calendarNotice.pojo.po.CalendarPreNotice">
    update calendar_pre_notice
    <set>
      <if test="bindNoticeId != null">
        bind_notice_id = #{bindNoticeId,jdbcType=BIGINT},
      </if>
      <if test="repeatTimeUnit != null">
        repeat_time_unit = #{repeatTimeUnit,jdbcType=INTEGER},
      </if>
      <if test="repeatTimeRange != null">
        repeat_time_range = #{repeatTimeRange,jdbcType=INTEGER},
      </if>
      <if test="repeatCount != null">
        repeat_count = #{repeatCount,jdbcType=INTEGER},
      </if>
      <if test="validTime != null">
        valid_time = #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeTime != null">
        notice_time = #{noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.tool.calendarNotice.pojo.po.CalendarPreNotice">
    update calendar_pre_notice
    set bind_notice_id = #{bindNoticeId,jdbcType=BIGINT},
      repeat_time_unit = #{repeatTimeUnit,jdbcType=INTEGER},
      repeat_time_range = #{repeatTimeRange,jdbcType=INTEGER},
      repeat_count = #{repeatCount,jdbcType=INTEGER},
      valid_time = #{validTime,jdbcType=TIMESTAMP},
      notice_time = #{noticeTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="demo.tool.calendarNotice.pojo.po.CalendarPreNoticeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from calendar_pre_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>