<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.account_holder.mapper.AccountHolderMapper">
  <resultMap id="BaseResultMap" type="demo.account_holder.pojo.po.AccountHolder">
    <result column="account_holder_id" jdbcType="INTEGER" property="accountHolderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="account_holder_name" jdbcType="CHAR" property="accountHolderName" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="birth" jdbcType="DATE" property="birth" />
    <result column="mobile_number" jdbcType="BIGINT" property="mobileNumber" />
  </resultMap>
  <insert id="insert" parameterType="demo.account_holder.pojo.po.AccountHolder">
    insert into account_holder (account_holder_id, user_id, account_holder_name, 
      gender, birth, mobile_number
      )
    values (#{accountHolderId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{accountHolderName,jdbcType=CHAR}, 
      #{gender,jdbcType=CHAR}, #{birth,jdbcType=DATE}, #{mobileNumber,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="demo.account_holder.pojo.po.AccountHolder">
    insert into account_holder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountHolderId != null">
        account_holder_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="accountHolderName != null">
        account_holder_name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="mobileNumber != null">
        mobile_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountHolderId != null">
        #{accountHolderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="accountHolderName != null">
        #{accountHolderName,jdbcType=CHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=DATE},
      </if>
      <if test="mobileNumber != null">
        #{mobileNumber,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>