<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.articleComment.mapper.ArticleCommentReviewMapper">

  <resultMap id="BaseResultMap" type="demo.articleComment.pojo.po.ArticleCommentReview">
    <result column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="article_reviewer_id" jdbcType="BIGINT" property="articleReviewerId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark_id" jdbcType="BIGINT" property="remarkId" />
    <result column="review_type_id" jdbcType="INTEGER" property="reviewTypeId" />
  </resultMap>

  <insert id="insert" parameterType="demo.articleComment.pojo.po.ArticleCommentReview">
    insert into article_comment_review (comment_id, article_reviewer_id, create_time, 
      remark_id, review_type_id)
    values (#{commentId,jdbcType=BIGINT}, #{articleReviewerId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{remarkId,jdbcType=BIGINT}, #{reviewTypeId,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="demo.articleComment.pojo.po.ArticleCommentReview">
    insert into article_comment_review
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="articleReviewerId != null">
        article_reviewer_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remarkId != null">
        remark_id,
      </if>
      <if test="reviewTypeId != null">
        review_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="articleReviewerId != null">
        #{articleReviewerId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarkId != null">
        #{remarkId,jdbcType=BIGINT},
      </if>
      <if test="reviewTypeId != null">
        #{reviewTypeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <insert id="insertNew">
    insert into 
      article_comment_review (comment_id, article_reviewer_id, review_type_id)
    values (#{commentId,jdbcType=BIGINT}, #{articleReviewerId,jdbcType=BIGINT}, #{reviewTypeId,jdbcType=INTEGER})
  </insert>
</mapper>