<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.finance.trading.mapper.ConsumptionTypeMapper">
  <resultMap id="BaseResultMap" type="demo.finance.trading.pojo.ConsumptionType">
    <result column="consumption_type" jdbcType="INTEGER" property="consumptionType" />
    <result column="consumption_name" jdbcType="CHAR" property="consumptionName" />
  </resultMap>
  <insert id="insert" parameterType="demo.finance.trading.pojo.ConsumptionType">
    insert into consumption_type (consumption_type, consumption_name)
    values (#{consumptionType,jdbcType=INTEGER}, #{consumptionName,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="demo.finance.trading.pojo.ConsumptionType">
    insert into consumption_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="consumptionType != null">
        consumption_type,
      </if>
      <if test="consumptionName != null">
        consumption_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="consumptionType != null">
        #{consumptionType,jdbcType=INTEGER},
      </if>
      <if test="consumptionName != null">
        #{consumptionName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>