<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.article.article.mapper.ArticleBurnMapper">

  <resultMap id="BaseResultMap" type="demo.article.article.pojo.po.ArticleBurn">
    <id column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="read_limit" jdbcType="INTEGER" property="readLimit" />
    <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
    <result column="read_id" jdbcType="BIGINT" property="readId" />
    <result column="burn_id" jdbcType="BIGINT" property="burnId" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="is_burned" jdbcType="BIT" property="isBurned" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    article_id, read_count, read_limit, valid_time, read_id, burn_id, file_path, is_burned, 
    create_time
  </sql>
  <select id="selectByExample" parameterType="demo.article.article.pojo.po.ArticleBurnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article_burn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article_burn
    where article_id = #{articleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from article_burn
    where article_id = #{articleId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="demo.article.article.pojo.po.ArticleBurnExample">
    delete from article_burn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.article.article.pojo.po.ArticleBurn">
    insert into article_burn (article_id, read_count, read_limit, 
      valid_time, read_id, burn_id, 
      file_path, is_burned, create_time
      )
    values (#{articleId,jdbcType=BIGINT}, #{readCount,jdbcType=INTEGER}, #{readLimit,jdbcType=INTEGER}, 
      #{validTime,jdbcType=TIMESTAMP}, #{readId,jdbcType=BIGINT}, #{burnId,jdbcType=BIGINT}, 
      #{filePath,jdbcType=VARCHAR}, #{isBurned,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="demo.article.article.pojo.po.ArticleBurn">
    insert into article_burn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="readCount != null">
        read_count,
      </if>
      <if test="readLimit != null">
        read_limit,
      </if>
      <if test="validTime != null">
        valid_time,
      </if>
      <if test="readId != null">
        read_id,
      </if>
      <if test="burnId != null">
        burn_id,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="isBurned != null">
        is_burned,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="readCount != null">
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="readLimit != null">
        #{readLimit,jdbcType=INTEGER},
      </if>
      <if test="validTime != null">
        #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readId != null">
        #{readId,jdbcType=BIGINT},
      </if>
      <if test="burnId != null">
        #{burnId,jdbcType=BIGINT},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="isBurned != null">
        #{isBurned,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.article.article.pojo.po.ArticleBurnExample" resultType="java.lang.Long">
    select count(*) from article_burn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update article_burn
    <set>
      <if test="record.articleId != null">
        article_id = #{record.articleId,jdbcType=BIGINT},
      </if>
      <if test="record.readCount != null">
        read_count = #{record.readCount,jdbcType=INTEGER},
      </if>
      <if test="record.readLimit != null">
        read_limit = #{record.readLimit,jdbcType=INTEGER},
      </if>
      <if test="record.validTime != null">
        valid_time = #{record.validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.readId != null">
        read_id = #{record.readId,jdbcType=BIGINT},
      </if>
      <if test="record.burnId != null">
        burn_id = #{record.burnId,jdbcType=BIGINT},
      </if>
      <if test="record.filePath != null">
        file_path = #{record.filePath,jdbcType=VARCHAR},
      </if>
      <if test="record.isBurned != null">
        is_burned = #{record.isBurned,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update article_burn
    set article_id = #{record.articleId,jdbcType=BIGINT},
      read_count = #{record.readCount,jdbcType=INTEGER},
      read_limit = #{record.readLimit,jdbcType=INTEGER},
      valid_time = #{record.validTime,jdbcType=TIMESTAMP},
      read_id = #{record.readId,jdbcType=BIGINT},
      burn_id = #{record.burnId,jdbcType=BIGINT},
      file_path = #{record.filePath,jdbcType=VARCHAR},
      is_burned = #{record.isBurned,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.article.article.pojo.po.ArticleBurn">
    update article_burn
    <set>
      <if test="readCount != null">
        read_count = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="readLimit != null">
        read_limit = #{readLimit,jdbcType=INTEGER},
      </if>
      <if test="validTime != null">
        valid_time = #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readId != null">
        read_id = #{readId,jdbcType=BIGINT},
      </if>
      <if test="burnId != null">
        burn_id = #{burnId,jdbcType=BIGINT},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="isBurned != null">
        is_burned = #{isBurned,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.article.article.pojo.po.ArticleBurn">
    update article_burn
    set read_count = #{readCount,jdbcType=INTEGER},
      read_limit = #{readLimit,jdbcType=INTEGER},
      valid_time = #{validTime,jdbcType=TIMESTAMP},
      read_id = #{readId,jdbcType=BIGINT},
      burn_id = #{burnId,jdbcType=BIGINT},
      file_path = #{filePath,jdbcType=VARCHAR},
      is_burned = #{isBurned,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>

  <update id="burnArticleByBurnId">
    update article_burn set is_burned = true where burn_id = #{burnId}
  </update>
  
  <update id="burnArticleById">
    update article_burn set is_burned = true where article_id = #{id}
  </update>

  <update id="readCountPlus">
    update article_burn set read_count = read_count + 1 where article_id = #{id}
  </update>

  <update id="lastRead">
    update article_burn set read_count = read_count + 1 , is_burned = true where article_id = #{id}
  </update>

</mapper>