<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.test.mapper.TestMapper">

  <select id="test1" resultType="Map">
    select 
      1
  </select>
  
  <select id="throwExpection" resultType="Map">
    select * from not_exists_table
  </select>
  
  <resultMap id="CryptoCoinDailyData" type="demo.finance.cryptoCoin.data.pojo.po.CryptoCoinPrice1day">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="coin_type" jdbcType="BIGINT" property="coinType" />
    <result column="currency_type" jdbcType="INTEGER" property="currencyType" />
    <result column="start_price" jdbcType="DECIMAL" property="startPrice" />
    <result column="end_price" jdbcType="DECIMAL" property="endPrice" />
    <result column="high_price" jdbcType="DECIMAL" property="highPrice" />
    <result column="low_price" jdbcType="DECIMAL" property="lowPrice" />
    <result column="volume" jdbcType="DECIMAL" property="volume" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  
  <select id="findCryptoCoinStartTime" resultMap="CryptoCoinDailyData">
  	select 
  		* 
  	from 
  		crypto_coin_price_1day ccpd
  	<where>
  		<if test="coinTypeId != null">
  			and coin_type = #{coinTypeId}
  		</if>
  		<if test="startTime != null">
  			and start_time >= #{startTime}
  		</if>
  	</where> 
  	order by start_time
  	limit 1000
  	;
  </select>
  
  <select id="findDuplicateDailyData" resultType="Map">
  	select
		*
	from
		(
		select
			id,
			coin_type ,
			start_time ,
			count(*) as counting
		from
			crypto_coin_price_1day ccpd
		group by
			start_time ,
			coin_type ) as t1
	where
		t1.counting > 1
		
	limit 5000
  </select>
  
  <select id="findDuplicateDailyDataInTheSameDay" resultType="Map">
  	select
		*
	from
		(
		select
			id,
			coin_type ,
			start_time ,
			count(*) as counting
		from
			crypto_coin_price_1day ccpd
		group by
			DATE_FORMAT(start_time, '%Y%m%d'),
			coin_type ) as t1
	where
		t1.counting > 1
		
	limit 5000
  </select>
  
</mapper>