<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.ai.aiArt.mapper.AiArtTextToImageJobRecordMapper">
  <resultMap id="BaseResultMap" type="demo.ai.aiArt.pojo.po.AiArtTextToImageJobRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ai_user_id" jdbcType="BIGINT" property="aiUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="job_status" jdbcType="BIT" property="jobStatus" />
    <result column="run_count" jdbcType="INTEGER" property="runCount" />
    <result column="is_from_api" jdbcType="BIT" property="isFromApi" />
    <result column="is_free_job" jdbcType="BIT" property="isFreeJob" />
    <result column="has_review" jdbcType="BIT" property="hasReview" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ai_user_id, create_time, is_delete, job_status, run_count, is_from_api, is_free_job, 
    has_review
  </sql>
  <select id="selectByExample" parameterType="demo.ai.aiArt.pojo.po.AiArtTextToImageJobRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ai_art_text_to_image_job_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ai_art_text_to_image_job_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ai_art_text_to_image_job_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="demo.ai.aiArt.pojo.po.AiArtTextToImageJobRecordExample">
    delete from ai_art_text_to_image_job_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="demo.ai.aiArt.pojo.po.AiArtTextToImageJobRecord">
    insert into ai_art_text_to_image_job_record (id, ai_user_id, create_time, 
      is_delete, job_status, run_count, 
      is_from_api, is_free_job, has_review
      )
    values (#{id,jdbcType=BIGINT}, #{aiUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=BIT}, #{jobStatus,jdbcType=BIT}, #{runCount,jdbcType=INTEGER}, 
      #{isFromApi,jdbcType=BIT}, #{isFreeJob,jdbcType=BIT}, #{hasReview,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="demo.ai.aiArt.pojo.po.AiArtTextToImageJobRecord">
    insert into ai_art_text_to_image_job_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="aiUserId != null">
        ai_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="jobStatus != null">
        job_status,
      </if>
      <if test="runCount != null">
        run_count,
      </if>
      <if test="isFromApi != null">
        is_from_api,
      </if>
      <if test="isFreeJob != null">
        is_free_job,
      </if>
      <if test="hasReview != null">
        has_review,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="aiUserId != null">
        #{aiUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="jobStatus != null">
        #{jobStatus,jdbcType=BIT},
      </if>
      <if test="runCount != null">
        #{runCount,jdbcType=INTEGER},
      </if>
      <if test="isFromApi != null">
        #{isFromApi,jdbcType=BIT},
      </if>
      <if test="isFreeJob != null">
        #{isFreeJob,jdbcType=BIT},
      </if>
      <if test="hasReview != null">
        #{hasReview,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="demo.ai.aiArt.pojo.po.AiArtTextToImageJobRecordExample" resultType="java.lang.Long">
    select count(*) from ai_art_text_to_image_job_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ai_art_text_to_image_job_record
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.aiUserId != null">
        ai_user_id = #{row.aiUserId,jdbcType=BIGINT},
      </if>
      <if test="row.createTime != null">
        create_time = #{row.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.isDelete != null">
        is_delete = #{row.isDelete,jdbcType=BIT},
      </if>
      <if test="row.jobStatus != null">
        job_status = #{row.jobStatus,jdbcType=BIT},
      </if>
      <if test="row.runCount != null">
        run_count = #{row.runCount,jdbcType=INTEGER},
      </if>
      <if test="row.isFromApi != null">
        is_from_api = #{row.isFromApi,jdbcType=BIT},
      </if>
      <if test="row.isFreeJob != null">
        is_free_job = #{row.isFreeJob,jdbcType=BIT},
      </if>
      <if test="row.hasReview != null">
        has_review = #{row.hasReview,jdbcType=BIT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ai_art_text_to_image_job_record
    set id = #{row.id,jdbcType=BIGINT},
      ai_user_id = #{row.aiUserId,jdbcType=BIGINT},
      create_time = #{row.createTime,jdbcType=TIMESTAMP},
      is_delete = #{row.isDelete,jdbcType=BIT},
      job_status = #{row.jobStatus,jdbcType=BIT},
      run_count = #{row.runCount,jdbcType=INTEGER},
      is_from_api = #{row.isFromApi,jdbcType=BIT},
      is_free_job = #{row.isFreeJob,jdbcType=BIT},
      has_review = #{row.hasReview,jdbcType=BIT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="demo.ai.aiArt.pojo.po.AiArtTextToImageJobRecord">
    update ai_art_text_to_image_job_record
    <set>
      <if test="aiUserId != null">
        ai_user_id = #{aiUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="jobStatus != null">
        job_status = #{jobStatus,jdbcType=BIT},
      </if>
      <if test="runCount != null">
        run_count = #{runCount,jdbcType=INTEGER},
      </if>
      <if test="isFromApi != null">
        is_from_api = #{isFromApi,jdbcType=BIT},
      </if>
      <if test="isFreeJob != null">
        is_free_job = #{isFreeJob,jdbcType=BIT},
      </if>
      <if test="hasReview != null">
        has_review = #{hasReview,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.ai.aiArt.pojo.po.AiArtTextToImageJobRecord">
    update ai_art_text_to_image_job_record
    set ai_user_id = #{aiUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT},
      job_status = #{jobStatus,jdbcType=BIT},
      run_count = #{runCount,jdbcType=INTEGER},
      is_from_api = #{isFromApi,jdbcType=BIT},
      is_free_job = #{isFreeJob,jdbcType=BIT},
      has_review = #{hasReview,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="demo.ai.aiArt.pojo.po.AiArtTextToImageJobRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ai_art_text_to_image_job_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="findWaitingJobs" resultMap="BaseResultMap">
    select
      *
    from 
      ai_art_text_to_image_job_record
    where
      is_delete = false
      and run_count &lt; #{runCount}
      and job_status in (0, -1)
  </select>
</mapper>