<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.credit_bill.mapper.CreditBillsMapper">

  <resultMap id="BaseResultMap" type="demo.credit_bill.pojo.CreditBills">
    <result column="bill_id" jdbcType="INTEGER" property="billId" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="last_refund_date" jdbcType="TIMESTAMP" property="lastRefundDate" />
    <result column="bill_amount" jdbcType="DECIMAL" property="billAmount" />
    <result column="min_refund_amount" jdbcType="DECIMAL" property="minRefundAmount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="marker" jdbcType="CHAR" property="marker" />
  </resultMap>
  
  <insert id="insert" parameterType="demo.credit_bill.pojo.CreditBills">
    insert into credit_bills (bill_id, account_id, last_refund_date, 
      bill_amount, min_refund_amount, create_time, 
      remark, marker)
    values (#{billId,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, #{lastRefundDate,jdbcType=TIMESTAMP}, 
      #{billAmount,jdbcType=DECIMAL}, #{minRefundAmount,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{marker,jdbcType=CHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="demo.credit_bill.pojo.CreditBills">
    insert into credit_bills
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        bill_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="lastRefundDate != null">
        last_refund_date,
      </if>
      <if test="billAmount != null">
        bill_amount,
      </if>
      <if test="minRefundAmount != null">
        min_refund_amount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="marker != null">
        marker,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billId != null">
        #{billId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="lastRefundDate != null">
        #{lastRefundDate,jdbcType=TIMESTAMP},
      </if>
      <if test="billAmount != null">
        #{billAmount,jdbcType=DECIMAL},
      </if>
      <if test="minRefundAmount != null">
        #{minRefundAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="marker != null">
        #{marker,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>